#tableA{
	 border-width: 2px;
	 border-color: rgb(32, 125, 255);
}

#FrameViewAcadmy{
	width: 900px;
	border-radius: 25px;
}

#thead1 {
color: rgb(32, 125, 255);
border-color: black;
}

#headerPageW{

  font-style: italic;
  margin-left: 100px;
  font-size: 60px;
  color:rgb(32, 125, 255);
}


#imgWatch{

  margin-left: 180px;
  width: 500px;
  height: 120px;
}


.detailsRAcademy{
	color : rgb(32, 125, 255);
	text-decoration: underline;
	font-weight: bold;
}