    <div class="container">
    <div class="row " >
<div class="col-md-9" >
 <div class="thumbnail" style="border-radius: 25px" >
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">

                <h1 >About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>We are two student to programing engeenir, in last semester to our graduate, today we are working at Intel corporation and more one month we start Elbit Systems, after 4 year in Brude College we decide to develop this web site to help student in chosen courses during them studies, Students can check review and detalis about specific courses and to choose what to learn next semester. </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 >Our Team</h2>
            </div>
    
            <div class="col-lg-4 col-sm-6 text-center">
            <div class="rotateimg180">
                <img class="img-circle img-responsive img-center " src="images/liran.jpg" alt="" style="height: 250px"></div>
                <h3>Liran Schwartz
                   
                </h3>
                 <small>Softwere Developer</small>
              
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="images/jacob.png" alt="" style="height: 250px">
                <h3>Jacob Elzam   </h3>
                <small>Softwere Developer</small>
           
            </div>

        </div>

        </div></div></div>


    </div>