 <link href="css/contactus.css" rel="stylesheet" >
<div class="container" >

 <div class="col-md-9">
     <div class="col-md-12">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Any questions? Feel free to contact us.</h4>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 5px;">
                          <div class="row">
                                 <div class="col-md-12" style="padding-bottom: : 10px;">
                                    <input class="form-control" id="EfirstName" name="firstname" placeholder="Firstname" type="text" required autofocus />
                                </div>
                                <div class="col-md-12" style="padding-bottom: : 10px;">
                                    <input class="form-control" id="ElastName" name="lastname" placeholder="Lastname" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12" style="padding-bottom: : 10px;">
                                    <input class="form-control" id="Eemail" name="email" placeholder="E-mail" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-12" style="padding-bottom: : 10px;">
                                    <input class="form-control" id="Esubject" name="subject" placeholder="Subject" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12" style="padding-bottom: : 10px;">
                                    <textarea style="resize:vertical;" class="form-control" id="EMessage" placeholder="Message..." rows="6" name="comment" required></textarea>
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" class="btn btn-success" value="Send" data-ng-click="sendEmailToUS('')"/>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Clear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                        </div>
                
                </div>                </div>
            </div> 
        </div>
    
        
  </div>
    



<script type="text/javascript">
  




  $(document).ready(function() {
    var panels = $('.vote-results');
    var panelsButton = $('.dropdown-results');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('Hide Results');
            }
            else
            {
                currentButton.html('View Results');
            }
        })
    });
});
</script>