
<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary" style="width: 500px">
                <div class="panel-heading"  style="text-align: center;">
                    <h3 class="panel-title">
                        Hedva</h3>
                </div>
                <div class="panel-body" style="text-align: center">
                    <div class="the-price">
                        <h3>Mr. Alex Web</h3>
                        <small>Ort Braude Collage</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Code course: 421312
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                4 Credits point
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Time: Thursday, 15:00 - 17:50
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Room: M-106
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Syllabus
                            </td>
                        </tr>
        
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>