
 <link href="css/star.css" rel="stylesheet">
<div class="container" >
<div class="row " >
<div class="col-md-9" >

               <div class="thumbnail" style="border-radius: 25px" >
               <span id="headerPage">	Academy/Faculty Rank</span>
                  <img id="imagerank" class="img-responsive " src="images/rating.jpg" alt="">
                    <div class="caption-full">

                    <div class="RankDet" data-ng-controller="mainControler">
                    	<span class="detailsLecturerView" id="detailsAcademyId" >Academy: </span> <span class="detailsLecturerViewCol" id="detailsAcademyId1" style="color:black"></span>
                    		<br>
                    	<span class="detailsLecturerView" id="detailsFacultyId">Faculty: </span><span class="detailsLecturerViewCol" id="detailsFacultyId1" style="color:black"></span>
                    	<div ng-init="initDetailsAcademy()"></div>
                    </div>
						<hr>
<!--First Q-->
					
					<div class="controllerLec" data-ng-controller="RankLecturerCont" >
					<p class="Qestion" ><span class="Qheader">1.How difficult in your academic?</span><br><span class="Qinternal"> There are faculties which sit on the lawn all day long, while other places have to "sweat" to get the degree.</span></p>

						<span style="margin-left:60px"><span style="color:blue">1</span></span>
						<span style="margin-left:70px"><span style="color:blue">2</span></span>
						<span style="margin-left:65px"><span style="color:blue">3</span></span>
						<span style="margin-left:64px"><span style="color:blue">4</span></span>
						<span style="margin-left:65px"><span style="color:blue">5</span></span>

                		
          				<form >
							 <input style="margin-left:60px" type="radio" id="ch1" name="gender1" value="1" checked> 
 							 <input style="margin-left:60px" type="radio" name="gender1" value="2"> 
  							 <input style="margin-left:60px" type="radio" name="gender1" value="3"> 
  							 <input style="margin-left:60px" type="radio" name="gender1" value="4"> 
  							 <input style="margin-left:60px" type="radio" name="gender1" value="5"> 
						</form>

						
					<span style="font-size: 10px"><span style="color: blue"><span style="margin-left:45px "> Very Easy</span></span></span>
                		<span style="margin-left:250px "><span style="font-size: 10px"><span style="color: blue">Very Hard</span></span></span>

                		<hr>

<!--Second Q-->
					<p class="Qestion"><span class="Qheader">2.Students Characteristics:</span><br><span class="Qinternal">In some faculties there is a 			competition between students,
      				    lack of assistance to the photographs, works, exercises, etc.,
    				    compared to other faculties where everyone helps each other, How is it with you?</span></p>

						<span style="margin-left:60px"><span style="color:blue">1</span></span>
						<span style="margin-left:70px"><span style="color:blue">2</span></span>
						<span style="margin-left:65px"><span style="color:blue">3</span></span>
						<span style="margin-left:64px"><span style="color:blue">4</span></span>
						<span style="margin-left:65px"><span style="color:blue">5</span></span>

                		
          				<form >
							 <input style="margin-left:60px" type="radio" id="ch1" name="gender2" value="1" checked> 
 							 <input style="margin-left:60px" type="radio" name="gender2" value="2"> 
  							 <input style="margin-left:60px" type="radio" name="gender2" value="3"> 
  							 <input style="margin-left:60px" type="radio" name="gender2" value="4"> 
  							 <input style="margin-left:60px" type="radio" name="gender2" value="5"> 
						</form>

						
					<span style="font-size: 10px"><span style="color: blue"><span style="margin-left:45px "> Very Easy</span></span></span>
                		<span style="margin-left:250px "><span style="font-size: 10px"><span style="color: blue">Very Hard</span></span></span>

              		<hr>

<!--third Q-->

					<p class="Qestion"><span class="Qheader">3.Secretary Attitude:</span><br><span class="Qinternal">Secretary and Faculty management should give you the students a kind and professional service.
    			    But between theory and action may be a long gap.</span></p>


						<span style="margin-left:60px"><span style="color:blue">1</span></span>
						<span style="margin-left:70px"><span style="color:blue">2</span></span>
						<span style="margin-left:65px"><span style="color:blue">3</span></span>
						<span style="margin-left:64px"><span style="color:blue">4</span></span>
						<span style="margin-left:65px"><span style="color:blue">5</span></span>
    		
          				<form >
							 <input style="margin-left:60px" type="radio" id="ch1" name="gender3" value="1" checked> 
 							 <input style="margin-left:60px" type="radio" name="gender3" value="2"> 
  							 <input style="margin-left:60px" type="radio" name="gender3" value="3"> 
  							 <input style="margin-left:60px" type="radio" name="gender3" value="4"> 
  							 <input style="margin-left:60px" type="radio" name="gender3" value="5"> 
						</form>
		
					<span style="font-size: 10px"><span style="color: blue"><span style="margin-left:45px "> Very Easy</span></span></span>
                		<span style="margin-left:250px "><span style="font-size: 10px"><span style="color: blue">Very Hard</span></span></span>
                		          <hr>

<!--Forth Q-->
					<p class="Qestion"><span class="Qheader">4.Students Union:</span><br><span class="Qinternal">We all know that there are many students 	unions that working hard for students,
      				   and there are those who do nothing, how your students union??</span></p>


						<span style="margin-left:60px"><span style="color:blue">1</span></span>
						<span style="margin-left:70px"><span style="color:blue">2</span></span>
						<span style="margin-left:65px"><span style="color:blue">3</span></span>
						<span style="margin-left:64px"><span style="color:blue">4</span></span>
						<span style="margin-left:65px"><span style="color:blue">5</span></span>

                		
          				<form >
							 <input style="margin-left:60px" type="radio" id="ch1" name="gender4" value="1" checked> 
 							 <input style="margin-left:60px" type="radio" name="gender4" value="2"> 
  							 <input style="margin-left:60px" type="radio" name="gender4" value="3"> 
  							 <input style="margin-left:60px" type="radio" name="gender4" value="4"> 
  							 <input style="margin-left:60px" type="radio" name="gender4" value="5"> 
						</form>

						
					<span style="font-size: 10px"><span style="color: blue"><span style="margin-left:45px "> Very Easy</span></span></span>
                		<span style="margin-left:250px "><span style="font-size: 10px"><span style="color: blue">Very Hard</span></span></span>
                		              		<hr>

<!--fifth Q-->
					<p class="Qestion"><span class="Qheader">5.Social Life</span><br><span class="Qinternal">Are you socially fun in academy? (Parties, social evenings, Cafeteria, breaks on the lawn).
    			    Because those are beautiful years, we would also like to enjoy!</span></p>


						<span style="margin-left:60px"><span style="color:blue">1</span></span>
						<span style="margin-left:70px"><span style="color:blue">2</span></span>
						<span style="margin-left:65px"><span style="color:blue">3</span></span>
						<span style="margin-left:64px"><span style="color:blue">4</span></span>
						<span style="margin-left:65px"><span style="color:blue">5</span></span>

                		
          				<form >
							 <input style="margin-left:60px" type="radio" id="ch1" name="gender5" value="1" checked> 
 							 <input style="margin-left:60px" type="radio" name="gender5" value="2"> 
  							 <input style="margin-left:60px" type="radio" name="gender5" value="3"> 
  							 <input style="margin-left:60px" type="radio" name="gender5" value="4"> 
  							 <input style="margin-left:60px" type="radio" name="gender5" value="5"> 
						</form>

						
					<span style="font-size: 10px"><span style="color: blue"><span style="margin-left:45px "> Very Easy</span></span></span>
                		<span style="margin-left:250px "><span style="font-size: 10px"><span style="color: blue">Very Hard</span></span></span>
                	<hr>
<!--few words-->

							<p class="Qestion"><span class="Qheader">Few words:</span></p>

							<div class="form-group">
							  <textarea class="form-control" rows="4" id="commentFewWord"></textarea>
							</div>

							<div class="row">
								

							<input style="margin-left: 12px" type="checkbox" checked="checked" id="AnnonymosCheck" onChange="check(this)"><span class="Qestion"> Annonymos	</span> 

								<span style="display: none" id="Ename" >
									<span style="margin-left: 12px" class="questions"><span style="color: rgb(32, 125, 255)"> Enter Name:</span></span> <input style="margin-left: 12px" type="text" id="textName">
								</span>
							
							
							</div>
							<hr>
							<span style="margin-left: 300px">
								<a id="RankAcademyBut"  class="btn btn-primary" data-ng-click="RankClickAcademy('RankClickAcademy')">
									Rank The Faculty
								</a></span>
                    	</div>
					</div>
                </div>

<script type="text/javascript">
	
    function check(el) {
        var EN =  document.getElementById('Ename');
       if(el.checked == true){
       		EN.style.display='none';
       }
       else{
       		EN.style.display= 'block';
       }
}

</script>

</div>
</div>
</div>