 <link href="css/AcademyCss.css" rel="stylesheet">
<div class="container">
<div class="row ">
<div class="col-md-9">
 <div class="thumbnail" id="FrameViewAcadmy">
<div class="caption-full" style="width: 900px" >



<span id="headerPageW">Watch rating reviews</span>

<img id="imgWatch" class="img-responsive " src="images/strank.jpg" alt="">

<hr>

                    <div class="detailsAcademy" >
                      <span class="detailsAcademy" id="detailsAcademyId" >Academy: </span> <span id="detailsAcademyId4" style="color:black"></span>
                        <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Faculty: </span><span id="detailsFacultyId4" style="color:black"></span>
                      <br>
                        <span class="detailsAcademy" id="detailsAcademyId" >Lectuerer: </span> <span id="detailsdiffId3" style="color:black"></span>
                        <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Course: </span><span id="detailscharacterId3" style="color:black"></span>
                      <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Semester: </span><span id="detailscharacterId3" style="color:black"></span>
                      <br>
                        <span class="detailsAcademy" id="detailsAcademyId" >Reviewers number: </span> <span id="detailsSocialId3" style="color:black"></span>
                        <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Course level (Avg): </span><span id="detailssecretaryId3" style="color:black"></span>
                      <br>
                        <span class="detailsAcademy" id="detailsAcademyId" >Lecturer atitude(Avg): </span> <span id="detailsunionId3" style="color:black"></span>
                        <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Motivation to teach (Avg): </span><span id="detailssecretaryId3" style="color:black"></span>
                      <br>
                      <span class="detailsAcademy" id="detailsFacultyId">Lecturer Intersting (Avg): </span><span id="detailssecretaryId3" style="color:black"></span>
                      <br>
                      <div ></div>
                    </div>
                    <hr>

<hr>



<div>
	<table class="table table-bordered" id="tableA">
  <thead  style="color: rgb(32, 125, 255);">
    <tr>
      <th>#</th>
      <th>Reviewer</th>
      <th>Rank Date</th>
      <th>Course level</th>
      <th>Lecturer atitude</th>
      <th>Motivation to teach</th>
      <th>Lecturer Intersting </th>
      <th style="width: 900px">Few words</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>hi how are u ok so i am very happy</td>
    </tr>

  </tbody>
  
</table>
</div>
</div>
</div>
</div></div>
</div>