 <link href="css/AcademyCss.css" rel="stylesheet">
<div class="container" data-ng-controller="mainControler">
<div class="row ">
<div class="col-md-9">
 <div class="thumbnail" id="FrameViewAcadmy">
<div class="caption-full" style="width: 900px" >



<span id="headerPageW">Watch rating reviews</span>

<img id="imgWatch" class="img-responsive " src="images/strank.jpg" alt="">

<hr>

<div id="progressTimer"></div>

<!--
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span class="sr-only"></span>
  </div>
</div> -->

<hr>

                    <div class="ViewAcademy" >
                      <span class="detailsLecturerView" id="detailsAcademyId" >Academy: </span> <span class="detailsLecturerViewCol" id="detailsAcademyId3" style="color:black"></span>
                        <br>
                      <span class="detailsLecturerView" id="detailsFacultyId">Faculty: </span><span class="detailsLecturerViewCol" id="detailsFacultyId3" style="color:black"></span>
                      <br>
                        <span class="detailsLecturerView" id="detailsAcademyId" >Academy difficulty (Avg): </span> <span class="detailsLecturerViewCol" id="detailsdiffId3" style="color:black"></span>
                        <br>
                      <span class="detailsLecturerView" id="detailsFacultyId">Student character (Avg): </span><span class="detailsLecturerViewCol" id="detailscharacterId3" style="color:black"></span>
                      <br>
                        <span class="detailsLecturerView" id="detailsAcademyId" >Social life (Avg): </span> <span class="detailsLecturerViewCol" id="detailsSocialId3" style="color:black"></span>
                        <br>
                      <span class="detailsLecturerView" id="detailsFacultyId">Faculty secretary (Avg): </span><span class="detailsLecturerViewCol" id="detailssecretaryId3" style="color:black"></span>
                      <br>
                        <span class="detailsLecturerView" id="detailsAcademyId" >Studert's union (Avg): </span> <span class="detailsLecturerViewCol" id="detailsunionId3" style="color:black"></span>
                        <br>
                      <div ></div>
                    </div>
                    <hr>

<hr>


<div>
	<table class="table table-bordered" id="tableA">
  <thead  style="color: rgb(32, 125, 255);">
    <tr>
      <th>#</th>
      <th>Reviewer</th>
      <th>Rank Date</th>
      <th>Academy difficulty</th>
      <th>Student character</th>
      <th>Social life</th>
      <th>Faculty secretary</th>
      <th>Studert's union</th>
      <th style="width: 900px">Few words</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color: black;">

    </tr>

  </tbody>
</table>
</div>

</div></div></div></div> 
<div ng-init="initDetailsAvgTableAcademy()">

</div>

</div>