<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Academy R  R</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="mainControler">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" data-ng-click="navAcademyCont('/')">Academy R & R</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li >
                        <a href="" data-ng-click="moveToPath('AddLecCourse')">Add Course/Lectuerer</a>
                    </li>
                    <li>
                        <a href="" data-ng-click="moveToPath('About')">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
<!-- Page Content
            <div class="col-md-3">
                <p class="lead">Choose Academy</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
-->
 <!--  Jacob part 23/2   -->              
                    <div class="col-sm-3 col-xs-12" data-ng-controller="mainControler">
                        <div class="panel panel-primary">
                        <div class="panel-heading"> Choose academy/Faculty</div>
                            <div class="panel-body">
                                <select class="selectpicker" data-live-search="true" data-style="btn-info" id= "dropdownAcademy">
                                    <option>Select Academy</option>
                                </select>

                            </div>
                              <div class="panel-body">
                                <select class="selectpicker" data-live-search="true" data-style="btn-info" id= "dropdownFaculty">
                                    <option>Select Faculty</option>
                                </select>

                            </div>
                            <div class="container" >
                            <div class="row">
                                <a id="RankAcademyBut" class="btn btn-primary" data-ng-click="moveToRankAcademy('RankAcademy')"> Rank </a>
                                <a class="btn btn-primary" id="firstBut" data-ng-click="moveToViewAcademy('ViewAcademyRaiting')"> View </a>
                            </div>
                            </div>
                        </div>


                        <div class="panel panel-primary">
                        <div class="panel-heading"> Choose Lecturer/course</div>
                            <div class="panel-body">
                                <select class="selectpicker" data-live-search="true" data-style="btn-info" id= "dropdownCourse">
                                    <option>Select Course</option>
                                </select>
                            </div>
                            <div class="panel-body">
                                <select class="selectpicker" data-live-search="true" data-style="btn-info" id= "dropdownSem">
                                  <option>Select Semester</option>
                                </select>
                            </div>

                              <div class="panel-body">
                                <select class="selectpicker" data-live-search="true" data-style="btn-info" id= "dropdownLec">
                                  <option>Select Lecturer</option>
                                </select>
                            </div>

                            <div class="container">
                            <div class="row">
                                <a class="btn btn-primary" id="RankLecturerBut"  data-ng-click="moveToRankLecturer('RankLecturer')"> Rank </a>
                                <a  class="btn btn-primary" id="firstBut" data-ng-click="moveToViewLecturer('ViewLecturerRaiting')"> View </a>
                            </div>
                            </div>
                            
                        </div>
                    </div>
 <!--  End of Jacob part 23/2   -->   

        <div data-ng-view=""></div>


        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Academy R  R 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container 

    <!-- jQuery -->
    <script src="js/jquery.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

<script src="js/angular.min.js"></script>
 <script src="js/angular-route.min.js"></script>-->

<!-- AngularJS  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> 

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCr9cEjEN7MzbIrlMI7qcIlKusX0ISpfr4",
    authDomain: "webacademy-9d124.firebaseapp.com",
    databaseURL: "https://webacademy-9d124.firebaseio.com",
    storageBucket: "webacademy-9d124.appspot.com",
    messagingSenderId: "601428818844"
  };
  firebase.initializeApp(config);
</script>






   <!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  -->
    <script src="http://code.angularjs.org/1.2.20/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.20/angular-route.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular-cookies.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.progressTimer.js"></script>

  <!--  <script type="js/app.js"></script>-->

     <script  src="js/app.js"></script>



</body>

</html>
